<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="/shop">Shop</a>
</p>
<h1>Your Cart</h1>
<form th:action="@{/shop}" th:object="${cart}" method="post">
    <h3>Total Items: <span th:text="${cart.countItemQuantity()}"></span></h3>
    <h3>Total Products: <span th:text="${cart.countProductQuantity()}"></span></h3>
    <table border="1">
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Delete</th>
        </tr>
        <tr th:each="product: ${cart.products}">
            <td th:text="${product.getKey().name}"></td>
            <td>
                <a id="decrease_button" th:href="@{/minus/__${product.getKey().id}__}" th:text="${'-'}" style="text-decoration: none"></a>
                <span th:text="${product.getValue()}"></span>
                <a id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='show')}" style="text-decoration: none"
                   th:text="${'+'}"></a>
            </td>
            <td th:text="${product.getKey().price}"></td>
            <td><a th:href="@{/delete/__${product.getKey().id}__}" style="text-decoration: none">Delete</a></td>
        </tr>
    </table>

    <div>
        <h3>Total: <span th:text="${cart.countTotalPayment()}"></span></h3>
        <a th:href="@{/pay}">Pay</a>
    </div>

</form>
</body>
</html>
