<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý heo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .header, th {
            background-color: yellow;
            text-align: center;
        }

        th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div class="container mt-5">

    <!-- Thanh tìm kiếm -->
    <div class="row mb-3">
        <h2 class="col-md-4">Danh sách khuyến mãi</h2>
        <div class="col-md-2">
            <a th:href="@{/discounts/create}" type="submit" class="btn btn-primary">Thêm khuyến mãi</a>
        </div>
    </div>
        <form th:action="@{/discounts/searchDiscount}" method="get" class="row">
            <div class="col-md-3">
                <input type="text" name="discountPrice" class="form-control" placeholder="Tìm kiếm theo mức giảm gía">
            </div>

            <div class="col-md-3">
                <input type="date" name="startDate" class="form-control" placeholder="Tìm kiếm theo thời gian bắt đầu">
            </div>

            <div class="col-md-3">
                <input type="date" name="endDate" class="form-control" placeholder="Tìm kiếm theo thời gian kết thúc">
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </form>
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>Tiêu đề</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kêt thúc</th>
            <th>Mức giảm giá</th>
            <th>Chi tiết</th>
            <th>Sửa</th>
            <th>Xoá</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="discount : ${discounts}">
            <td th:text="${discount.getTitle()}"></td>
            <td th:text="${discount.getStartDate()}"></td>
            <td th:text="${discount.getEndDate()}"></td>
            <td th:text="${discount.getDiscountPrice()}"></td>
            <td th:text="${discount.getDescription()}"></td>
            <td>
                <a class="btn btn-info">Sửa</a>
            </td>
            <td>
                <button class="btn btn-danger"
                        th:data-id="${discount.getId()}"
                        th:data-title="${discount.getTitle()}"
                        onclick="confirmDelete(this)">Xoá
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal xác nhận xóa -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa mục này không?</p>
            </div>
            <form id="deleteForm" th:action="@{/discounts/delete/__id__}" method="post" class="modal-footer">
                <button type="submit" class="btn btn-danger">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    function confirmDelete(button) {
        let id = button.getAttribute("data-id");
        let title = button.getAttribute("data-title");

        document.getElementById('modalTitle').textContent = 'Hộp thoại xác nhận xóa ' + title;
        document.getElementById('deleteForm').action = '/discounts/delete/' + id;

        $('#deleteModal').modal('show');
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>